// Colors
$color-blue     :   #3498DB;
$color-red      :   #E74C3C;
$color-red-dark :   #C0392B;
$color-orange   :   #F39C12;
$color-green    :   #2ECC71;
$color-green-dark : #27AE60;
$color-grey 	: 	#CCC;
$color-grey-light : #C0C0C0;
$color-grey-dark:	#565656;

$theme-color    :   $color-blue;
$secondary-color:   $color-orange;
$font-color 	: 	#34495e;


// Typography
$base-font-size	:   13px;

// Scaffolding
$navbar-height  :   45px;
$footer-height	: 	45px;
$breakpoint-xs	:	768px;