eui-checklist {
	ul {
		li {
			border-bottom:1px solid $color-grey-light;
			cursor: pointer;

			input {
				display: none;
			}
			.label {
				font-weight: 400;
				color: $font-color;
				font-size: inherit;
				padding: 0;

				.remove {
					display: none;
				}
				.add {
					display: inline-block;
				}
			}
			input:checked + .label {
				font-weight: bold;
			}
			input:checked + .label .remove {
				display: inline-block;
			}
			input:checked + .label .add {
				display: none;
			}
		}
	}
}
