.sidebar {
	top: $navbar-height;
	background-color: #F3F3F3;
	padding: 8px 14px;
	min-width: 340px;

	.glyphicon-remove {
		font-size: 24px;
		color: $color-grey;
	}
}

@media screen and (min-width: $breakpoint-xs) {
	.sidebar {
		background-color: #fff;
		padding: 0;
		min-width: 0;
		top: auto;
		z-index: 1029;
		padding-right: 30px;
	}	
}