<div class="row">
	<!-- SIDE BAR -->
	<div class="col-xs-4">
		<div ng-show="success">
			<table class="table">
				<tr>
					<td><strong>Kommun:</strong></td>
					<td>{{ document._source.origin }}</td>
				</tr>
				<tr>
					<td><strong>Datum:</strong></td>
					<td>{{ document._source.meeting_date | date : format : 'yyyy-MM-dd' }}</td>
				</tr>
				<tr>
					<td><strong>Uppdaterad:</strong></td>
					<td>{{ document._source.last_updated | date : format : 'yyyy-MM-dd' }}</td>
				</tr>
				<tr>
					<td><strong>Dokumenttyp:</strong></td>
					<td>{{ document._source.document_type }}</td>
				</tr>
				<tr>
					<td><strong>Samma möte:</strong></td>
					<td>
						<div ng-repeat="doc in otherDocs">
							<a href="#document/{{doc._id}}">
								<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
							 ({{ doc._source.text.length }} tecken)
							</a>
						</div>
					</td>
				</tr>
			</table>

		</div>
	</div>

	<!-- RESULTS BAR -->
	<div class="col-xs-8">
		<!-- On load -->
		<div class="loading" ng-hide="showDocument">
			<h1>Hämtar dokument</h1>
		</div>

		<!-- After load -->
		<div class="document" ng-show="showDocument">

			<!-- Success -->
			<div ng-show="success">
				
				<pre>{{document._source.text}}</pre>
			</div>
			<!-- Error -->
			<div ng-hide="success">
				<h1>Hittade inte något dokument med det här id:et.</h1>
			</div>
		</div>
		
	</div>
</div>
