<div class="container-fluid" 
    eui-index="'documents'"
    eui-response-fields="meeting_date,origin"
    eui-enabled="true"
    eui-sort="ejs.Sort('meeting_date').order('desc')"
    eui-highlight="ejs.Highlight('text').preTags('<mark>').postTags('</mark>').fragmentSize(200)"
>
    <h1>Möten</h1>
    <!-- toggle mobile sidebar -->
    <button type="button" id="toggle-sidebar" class="visible-xs btn btn-dark btn-lg" data-toggle="offcanvas" data-target="#sidebar">
      Välj kommun

      <div class="pull-right navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </button>

    <!-- sidebar -->
    <div id="sidebar" class="sidebar navmenu-fixed-left offcanvas-xs">
        <eui-singleselect field="'origin'" size="300"></eui-singleselect>
    </div>

    <!-- main view -->
    <div class="col-sm-8 col-xs-12 main">
        <div class="search-results" eui-aggregation="ejs.TermsAggregation('date_agg').field('meeting_date').order('_term','desc').size(0).agg(ejs.TermsAggregation('origin').field('origin'))">
            <a class="search-item" ng-repeat="bucket in aggResult.buckets" ng-click="clickMeeting(bucket.origin.buckets[0].key, bucket.key)">
                <table>
                    <tr>
                        <td class="column-icon">
                            <img src="images/document.png" class="icon">
                        </td>
                        <td class="column-content">
                            <div class="origin">{{bucket.origin.buckets[0].key }}</div>
                            <date class="date">{{bucket.key_as_string | date : 'yyyy-MM-dd' }}</date>
                        </td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</div>