<div class="container-fluid" 
    eui-index="'documents'"
    eui-response-fields="meeting_date,origin"
    eui-enabled="true"
    eui-sort="ejs.Sort('meeting_date').order('desc')"
    eui-highlight="ejs.Highlight('text').preTags('<mark>').postTags('</mark>').fragmentSize(200)"
>
    <h1>Möten</h1>
    <div class="col-sm-3">
        <eui-singleselect field="'origin'" size="300"></eui-singleselect>
    </div>

    <div class="col-sm-9">
        <ul class="nav nav-list" eui-aggregation="ejs.TermsAggregation('date_agg').field('meeting_date').order('_term','desc').size(0).agg(ejs.TermsAggregation('origin').field('origin'))">
            <li ng-repeat="bucket in aggResult.buckets">
                <a ng-click="clickMeeting(bucket.origin.buckets[0].key, bucket.key)">
                    {{bucket.key_as_string | date : 'yyyy-MM-dd' }}, {{bucket.origin.buckets[0].key}} ({{bucket.doc_count}})
                </a>
            </li>
        </ul>
    </div>
</div>