<div class="container-fluid" eui-sort="ejs.Sort('meeting_date').order('desc')" eui-enabled="true" field="'meeting_date'" order="'desc'">

        <div class="row">
            <div class="col-xs-3 sidebar">

                <h3>Sök</h3>
                <eui-searchbox field="'text'"></eui-searchbox> <!-- ACTION: change to field to search on -->
                
                 
                 <h4>Filtrera på datum</h4>
                <!-- <eui-daterange field="'meeting-date.date'" from="'2012-02-06'" to="'2014-04-06'"></eui-daterange>-->
                <eui-daterange field="'meeting_date'" ng-controller="DaterangeCtrl"></eui-daterange>
                
                
                <h4>Filtrera på kommun</h4>
                <eui-checklist field="'origin'" size="5"></eui-checklist>

               

            </div>
            <div class="col-xs-9 main">
              <div class="loading" ng-show="searching">
                <h1>Hämtar data</h1>
              </div>
              <div class="results" ng-hide="searching">
                <h1>Visar {{ indexVM.page * indexVM.pageSize - indexVM.pageSize + 1 }}-{{ indexVM.page * indexVM.pageSize }} av {{indexVM.results.hits.total}} träffar</h1>
                <div ng-controller="SearchUrlCtrl">
                  Url till den här sökningen
                  <code>/#/search/{{from | date : 'yyyy-MM-dd' }}/{{to | date : 'yyyy-MM-dd'}}/</code>
                </div>
                <!--
                <eui-simple-paging></eui-simple-paging>
                -->
                <ul class="pager">
                    <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=1">Första</a></li>
                    <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=indexVM.page - 1">Föregående</a></li>
                    <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.page + 1">Nästa</a></li>
                    <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.pageCount">Sista</a></li>
                </ul>
                <ul>
                    <li ng-repeat="doc in indexVM.results.hits.hits">
                        
                        <div>
                        	<a href="#document/{{doc._id}}">
	                            <h4>{{doc._source.origin }}</h4>
	                        </a>
                            <div>
                            	<strong>Datum:</strong> {{doc._source.meeting_date | date : 'yyyy-MM-dd' }}
                            </div>
                            <pre style="max-height: 70px;overflow-y: scroll;">{{doc._source.header }} </pre>
                        </div>
                    </li>
                </ul>
                <eui-simple-paging></eui-simple-paging>
            </div>
        </div>
    </div>