<div class="container-fluid" 
    eui-index="'documents'"
    eui-response-fields="meeting_date,origin"
    eui-enabled="true"
    eui-sort="ejs.Sort('meeting_date').order('desc')"
    order="'desc'"
    eui-highlight="ejs.Highlight('text').preTags('<mark>').postTags('</mark>').fragmentSize(200)"
>

        <div class="row">
            <div class="col-xs-4 sidebar">
                <eui-daterange field="'meeting_date'" ng-controller="DaterangeCtrl" class="daterange"></eui-daterange>
                
                
                <div class="sidebar-title">Filtrera på kommun</div>
                <eui-checklist field="'origin'" size="5" eui-or-filter></eui-checklist>

                <div class="sidebar-title">Dokumenttyp</div>
                <eui-checklist field="'document_type'" size="5" eui-or-filter></eui-checklist>
               

            </div>
            <div class="col-xs-8 main">
              <div class="loading" ng-show="searching">
                <h1>Hämtar data</h1>
              </div>
              <div class="results" ng-hide="searching">
                <eui-searchbox field="'text'" keyword="keyword" class="search large"></eui-searchbox> 
                <!-- ACTION: change to field to search on -->

                <div class="sort pull-right">
                    <label>Sortera</label>
                    <select ng-options="opt.order as opt.label for opt in sortOptions" ng-change="sort()" ng-model="order">
                    </select>
                </div>
                <!--
                <button ng-click="sort('desc')" class="btn btn-sm btn-default" ng-class="{active : sorting.sort.toJSON().meeting_date.order == 'desc'}">Fallande</button>
                <button ng-click="sort('asc')" class="btn btn-sm btn-default" ng-class="{active : sorting.sort.toJSON().meeting_date.order == 'asc'}">Stigande</button>-->

                <div>Visar {{ indexVM.pageFrom }}-{{ indexVM.pageTo }} av {{indexVM.results.hits.total}} träffar</div>

                <div ng-controller="SearchUrlCtrl">
                  Url till den här sökningen
                  <code>/#/search/{{from | date : 'yyyy-MM-dd' }}/{{to | date : 'yyyy-MM-dd'}}/{{keyword}}</code>
                </div>
                
                <eui-simple-paging></eui-simple-paging>
                <!--
                <ul class="pager">
                    <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=1">Första</a></li>
                    <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=indexVM.page - 1">Föregående</a></li>
                    <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.page + 1">Nästa</a></li>
                    <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.pageCount">Sista</a></li>
                </ul>-->
                <div class="search-results">
                    <a href="#document/{{doc._id}}" class="search-item" ng-repeat="doc in indexVM.results.hits.hits">
                        <table>
                            <tr>
                                <td class="column-icon">
                                    <img src="images/document.png" class="icon">
                                </td>
                                <td class="column-content">
                                    <div class="origin">{{doc.fields.origin[0] || doc_source.origin }}</div>
                                    <date class="date">{{doc.fields.meeting_date[0] || doc._source.meeting_date | date : 'yyyy-MM-dd' }}</date>

                                    <div class="excerpt-wrapper" ng-show="doc.highlight">
                                        <div ng-bind-html="doc.highlight.text[0]" class="excerpt"></div>
                                        <small class="number-of-hits">
                                            <strong>Antal träffar på sökordet:</strong> {{doc.highlight.text.length}}
                                        </small>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
                <eui-simple-paging></eui-simple-paging>
            </div>
        </div>
    </div>