<div class="container-fluid" 
    eui-index="'documents'"
    eui-response-fields="meeting_date,origin"
    eui-enabled="true"
    eui-sort="ejs.Sort('meeting_date').order('desc')"
    order="'desc'"
    eui-highlight="ejs.Highlight('text').preTags('<mark>').postTags('</mark>').fragmentSize(200)"
>
    <!-- show this on first page load -->
    <loading ng-show="indexVM.firstPageLoad"></loading>

    <!-- loading done -->
    <div class="row" ng-hide="indexVM.firstPageLoad">
        <div id="sidebar" class="sidebar navmenu-fixed-left offcanvas-xs">
            <span class="glyphicon glyphicon-remove pull-right visible-xs" aria-hidden="true" data-toggle="offcanvas" data-target="#sidebar"></span>

            <eui-daterange field="'meeting_date'" ng-controller="DaterangeCtrl" class="daterange"></eui-daterange>
            
            
            <div class="sidebar-title">Filtrera på kommun</div>
            <eui-checklist field="'origin'" size="5" eui-or-filter></eui-checklist>

            <div class="sidebar-title">Dokumenttyp</div>
            <eui-checklist field="'document_type'" size="5" eui-or-filter></eui-checklist>
           

        </div>

        <!-- main view -->
        <div class="col-sm-8 col-xs-12 main">
          

          <!-- show result list after load -->
          <div class="results">
            <!-- search box -->
            <eui-searchbox field="'text'" keyword="keyword" class="search large"></eui-searchbox> 

            <!-- sorting -->
            <div class="sort pull-right">
                <label>Sortera</label>
                <select ng-options="opt.order as opt.label for opt in sortOptions" ng-change="sort()" ng-model="order">
                </select>
            </div>

            <!-- show this at refresh -->
            <loading ng-show="indexVM.loading"></loading>

            <!-- show only after results are loaded -->
            <div ng-hide="indexVM.loading">

                <!-- search meta info --> 
                <div>Visar {{ indexVM.pageFrom }}-{{ indexVM.pageTo }} av {{indexVM.results.hits.total}} träffar</div>

                <!-- the url of the current search -->
                <div ng-controller="SearchUrlCtrl">
                  Url till den här sökningen
                  <code>/#/search/{{from | date : 'yyyy-MM-dd' }}/{{to | date : 'yyyy-MM-dd'}}/{{keyword}}</code>
                </div>
                
                <!-- pagination --> 
                <eui-simple-paging></eui-simple-paging>
                
                <!-- mobile filter button -->
                <button type="button" id="toggle-sidebar" class="visible-xs btn btn-dark btn-lg" data-toggle="offcanvas" data-target="#sidebar">
                  Filtrera sökningen

                  <div class="pull-right navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </div>
                </button>

                <!-- list search results -->
                <div class="search-results">
                    <a href="#document/{{doc._id}}" class="search-item" ng-repeat="doc in indexVM.results.hits.hits">
                        <table>
                            <tr>
                                <td class="column-icon">
                                    <img src="images/document.png" class="icon">
                                </td>
                                <td class="column-content">
                                    <div class="origin">{{doc.fields.origin[0] || doc_source.origin }}</div>
                                    <date class="date">{{doc.fields.meeting_date[0] || doc._source.meeting_date | date : 'yyyy-MM-dd' }}</date>

                                    <div class="excerpt-wrapper" ng-show="doc.highlight">
                                        <div ng-bind-html="doc.highlight.text[0]" class="excerpt"></div>
                                        <small class="number-of-hits">
                                            <strong>Antal träffar på sökordet:</strong> {{doc.highlight.text.length}}
                                        </small>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </a>
                </div> <!-- end of search result list -->

                <!-- pagination -->
                <eui-simple-paging></eui-simple-paging>
            </div>
        </div>
    </div>
</div>